<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h1>Here's your daily weather update for <%= @user.city %></h1>

    <p>Lat: <%= @weather[:lat] %></p>
    <p>Lng: <%= @weather[:lng] %></p>
    <p>Sunset: <%= @weather[:sunset] %></p>
    <p>Sunrise: <%= @weather[:sunrise] %></p>
</body>

</html>